@using Markato.Models;
@model ProjectsInfo
@{
    var projects = Model.projects;
    var Teams = Model.Teams;
    var pnum = 0;
}
@foreach (var p in projects)
{
    if (p.projectMDID != null && p.projectStatues=="inprogress")
    {
    <div class="card col-sm-6 product-card" id="@p.projectID">
        <!--each projects' id MUST  be added here.And everything here will be retrieved from db dynamiclly-->
        <img class="card-img-top product-img" src="@p.ProjectPic" alt="Card image cap">
        <p class="card-text" style="margin-bottom:0px;"><small class="text-muted Date">@p.uploadDate</small></p>
        <p class="card-text" style="margin-bottom:0px;"><small class="text-muted CustmerName">@p.Customer.CustomerFName</small></p>
        <div class="card-body">
            <h3 class="card-title Product-name">@p.projectName</h3>
            <p class="card-text Product-desc">@p.projectDesc</p>
            <div class="row TeamMD">
                <div class="dropdown row cardRow col-12 dorpMD">
                    <form method="post" action="/MainDirectors/EmployeeProfile">
                        <input type="number" value="@p.Employee.EmployeeID" name="EmpID" style="display:none" />
                        <label class="col-6 col-form-label">MD</label>
                        <button class="btn btn-primary btn-md  col-8 MDname" type="submit">@p.Employee.EmployeeFName</button>
                    </form>
                </div>
            </div>
            @if (p.Teams.FirstOrDefault() != null)
            {

            <div class="row TeamML" id="@p.projectID">
                <div class="dropdown row cardRow col-12 dorpML" id="@p.projectID">
                    <form method="post" action="/MainDirectors/EmployeeProfile">
                        <input type="number" value="@p.Teams.FirstOrDefault().Employee.EmployeeID" name="EmpID" style="display:none" />
                        <label class="col-sm-6 col-form-label">TL</label>
                        <button class="btn btn-primary btn-md profile col-8 MDname" type="submit">@p.Teams.FirstOrDefault().Employee.EmployeeFName</button>
                    </form>
                </div>
            </div>
            }
            
            <div class="row MT">
                    @if (p.Teams.FirstOrDefault() != null)
                    {
                    if (p.Teams.FirstOrDefault().ProjectTeamHistories.ToList().Count() != 0)
                    {

                <div class="row col-12  cardRow TeamMembers">

                    <!--this represents members in that project-->
                    @foreach (var t in p.Teams.FirstOrDefault().ProjectTeamHistories.ToList())
                    {
                        <form method="post" action="/MainDirectors/EmployeeProfile">
                            <input type="number" value="@t.Employee.EmployeeID" name="EmpID" style="display:none" />
                           
                            <button class="btn btn-primary btn-md profile col-6 MDname" type="submit">@t.Employee.EmployeeFName</button>
                        </form>
                    }

                </div>
                        }
                    }
                  
            </div>
            <div class="row col-lg-12 SchedualDiv">
                <form method="Post" class="SchedualForm" style="margin-top:10px;">
                    <!--here u only have to check if the schedual set or no to fill data or allow to add new dates-->
                    <!--id of project MUST be set here in id property-->
                    <div class="form-group row">
                        <div class="row col-sm-12">
                            <label for="staticEmail" class="col-sm-5 col-form-label">Start</label>
                            <input type="text" class="form-control StartDate col-sm-7" value="@p.ProjectStart" disabled>
                            <label for="staticEmail" class="col-sm-5 col-form-label">End</label>
                            <input type="text" class="form-control EndDate col-sm-7" id="" value="@p.ProjectEnd" disabled>
                        </div>

                    </div>
                </form>
            </div>
            <div class="row col-lg-12">
                <button type="button" class="btn btn-outline-danger btn-sm DeleteProject" id="@p.projectID"><i class="fas fa-times" style="margin-right:5px"></i>Remove Project</button><!--id of project MUST be set here in id property-->
            </div>
        </div>
    </div>
      pnum++;
     }
    }
